.input {
    position: relative;
}

.input__field {
    border: 1px solid #333;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.input__field--error {
    border: 1px solid red;
}

.input__label {
    display: block;
    margin-bottom: 0.5rem;
}

.input__error {
    color: red;
    display: block;

    svg {
        width: 20px;
        height: 20px;
    }
}

.input__hint {
    position: absolute;
    bottom: -2rem;
    left: 0;
    background-color: #333;
    padding: 0.25rem;
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.input__hint--active {
    visibility: visible;
    opacity: 1;
}